In [ ]:
# In notebooks/exploration.ipynb
import sys
import os

sys.path.append(os.path.abspath("../src"))
from data_loader import MovieLensDataLoader

# Add the src directory to the system path
sys.path.append(os.path.abspath("../src"))
import matplotlib.pyplot as plt  # type: ignore
import pandas as pd  # type: ignore

# Path to the MovieLens dataset
path_to_files = "/Users/timeless/Downloads/ml-32m/"
# Create an instance of MovieLensDataLoader
loader = MovieLensDataLoader(path=path_to_files)
# Load the data
movies, ratings, tags, links = loader.load_data()
ratings["rating"].hist()
plt.title("Distribution of Ratings")
plt.show()

In [ ]:
print(
    "The dimension of movies dataframe are:",
    movies.shape,
    "\nThe dimension of ratings dataframes are:",
    ratings.shape,
    "\nThe dimension of tags dataframe are:",
    tags.shape,
    "\nThe dimension of links dataframe are:",
    links.shape,
)

In [ ]:
movies.head(10)

In [ ]:
ratings.head(10)

In [ ]:
tags.head(10)

In [6]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [ ]:
# Movie ID to movie name mapping
movie_names = movies.set_index("movieId")["title"].to_dict()
num_users = len(ratings["userId"].unique())
num_items = len(ratings["movieId"].unique())
print("ratings:", ratings.shape)
print("movies:", movies.shape)
print("tags:", tags.shape)
print("links:", links.shape)
print("Number of unique users:", num_users)
print("Number of unique movies:", num_items)
print("The full rating matrix we have:", num_users * num_items, "elements")
print("The number of ratings we have:", len(ratings))
print(
    "Therefore",
    len(ratings) / (num_users * num_items) * 100,
    "% of the matrix is filled",
)

In [ ]:
print(movies.describe())

In [ ]:
print(ratings.describe())

In [ ]:
print(tags.describe())

In [ ]:
print(links.describe())

In [ ]:
# Find missing values
movie_missing_values = movies.isnull().sum()

# Find null values
movie_null_values = movies[movies.isnull().any(axis=1)]

# Print the results
print("Missing Values:")
print(movie_missing_values)
print("\nNull Values:")
print(movie_null_values)

In [ ]:
# Find ratings missing values
ratings_missing_values = ratings.isnull().sum()

# Find ratings null values
ratings_null_values = ratings[ratings.isnull().any(axis=1)]
print("Missing Values:", ratings_missing_values)
print("\nNull Values:", ratings_null_values)  # No missing or null values

In [ ]:
ratings["userId"].nunique()  # Number of unique users
ratings["movieId"].nunique()  # Number of unique movies
ratings["rating"].nunique()  # Number of unique rating values

In [ ]:
movies["movieId"].nunique()  # Number of unique movies
movies["title"].nunique()  # Number of unique movie titles
movies["genres"].nunique()  # Number of unique genres

In [ ]:
data = pd.merge(ratings, movies, on="movieId")
data.head(10)

In [ ]:
ratings["rating"].value_counts()  # Frequency of each rating value

In [ ]:
ratings.groupby("userId")["rating"].mean().head()  # Average rating per user
ratings.groupby("movieId")["rating"].mean().head()  # Average rating per movie
ratings.groupby("movieId")[
    "rating"
].count().head()  # Number of ratings per movie

In [ ]:
# Create a user-item matrix
# We can create this matrix using the pivot_table function in pandas.
user_item_matrix = ratings.pivot_table(
    index="userId", columns="movieId", values="rating"
)